using System;
using System.Diagnostics.Tracing;
using System.Text;
using ChilliCream.Logging.Abstractions;

namespace {{namespace}}
{
    [EventSource({{attribute-parameter-string}})]
    public sealed class {{name}}
        : EventSourceBase
    {
        private {{name}}() { }

        public static readonly I{{name}} Log = new {{name}}();
{{#events}}
        [NonEvent]
        public void {{name}}({{#parameters}}{{#isFollowing}}, {{/isFollowing}}{{type}} {{name}}{{/parameters}})
        {
            if (IsEnabled())
            {
                {{name}}(Application.Id, Scope.CurrentActivityId{{#parameters}}, {{name}}{{/parameters}});
            }
        }

        {{attributeSyntax}}
        private void {{name}}(int applicationId, Guid activityId{{#parameters}}, {{type}} {{name}}{{/parameters}}) 
            => WriteCore({{id}}, applicationId, activityId{{#parameters}}, {{name}}{{/parameters}}); 

{{/events}}

{{#writeMethods}}
        [NonEvent]
        protected unsafe void WriteCore(int eventId, int applicationId, Guid activityId{{#parameters}}, {{type}} {{name}}{{/parameters}})
        {
            if (IsEnabled())
            {
{{#parameters}}
{{#isString}}
                StringExtensions.EnsureItIsNotNull(ref {{name}});
{{/isString}}
{{/parameters}}

{{#parameters}}
{{#isString}}
                fixed (char* {{name}}Bytes = {{name}})
                {
{{/isString}}
{{/parameters}}
                const short dataCount = {{parametersCount}};
                EventData* data = stackalloc EventData[dataCount];
                data[0].DataPointer = (IntPtr)(&applicationId);
                data[0].Size = 4;
                data[1].DataPointer = (IntPtr)(&activityId);
                data[1].Size = 16;
{{#parameters}}
                data[{{position}}].DataPointer = (IntPtr)({{operator}}{{name}});
                data[{{position}}].Size = {{size}};
{{/parameters}}

{{#parameters}}
{{#isString}}
                }
{{/isString}}
{{/parameters}}

                WriteEventCore(eventId, dataCount, data);
            }
        }
{{/writeMethods}}
    }
}
